$fontFamily: "Montserrat";
$fontSize: 18;
$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1170;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
$mainColor: #1D1D1D;
$white: #fff;
$blue: #144E5E;
$darkGrey: #535353;
$grey: #AFBFC0;
$yellow: #F2C231;
$transitionValue: all .3s linear;
