@import "../../../scss/mixins";

.home-useful-information {
  @media (max-width: 1400px) {
    flex-direction: column-reverse;
    gap: 10px;
    padding-right: 10px;
    padding-left: 10px;
  }
  @include adaptive-value(padding-top, 90, 55, 1);
  @include adaptive-value(padding-bottom, 90, 55, 1);
  display: flex;
  align-items: center;
  gap: 90px;
}

.home-useful-information__title {
  margin-top: 10px;
}

.home-useful-information__article-title {
  @include adaptive-value(margin-top, 40, 25, 1);
  @include adaptive-value(font-size, 32, 22, 1);
  @include adaptive-value(line-height, 38, 26, 1);
  font-weight: 500;
}

.home-useful-information__text {
  @media (max-width: 1400px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  max-width: 480px;
}

.home-useful-information__link {
  @include adaptive-value(margin-top, 50, 35, 1);
}

.home-useful-information__img {
  @media (max-width: 710px) {
    width: 100%;
    height: auto;
  }
}